# Ambientes virtuais
venv/
.venv/
env/

# Configurações sensíveis
.env

# Python cache
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# Dados 
data/*
!data/externos/
!data/ouro/
data/ouro/*
!data/ouro/*.csv
!data/ouro/graficos/
data/ouro/graficos/*
!data/ouro/graficos/*.png